@import url(https://fonts.googleapis.com/css?family=League+Spartan:100,200,300,regular,500,600,700,800,900);

html {
    box-sizing: border-box;
    font-size: 16px;
}

*, *:before, *:after {
box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
margin: 0;
padding: 0;
font-weight: normal;
}

ol, ul {
list-style: none;
}

img {
max-width: 100%;
height: auto;
}




body{
    font-family: 'League Spartan', sans-serif;
}

header{
    display: flex;
    padding: 104px 133px 168px;
    background-color: rgb(248, 248, 248);
}

#header_subtitle{
    margin-bottom: 53px;
    font-size: 24px;
    line-height: 45px;
    font-weight: 300;
}

#header_title{
    margin-bottom: 43px;
    font-size: 250px;
    line-height: 230px;
    font-weight: 300;
}

#header_discription{
    font-size: 32px;
    line-height: 50px;
    margin-bottom: 61px; 
}

.B{
    display: inline;
}

#buy_button{
    width: 278px;
    height: 82px;
    background-color: rgb(22, 21, 21);
    color:  rgb(255, 255, 255);
    font-size: 32px;
    line-height: 30px;
    border: 0px;
}

#buy_label{
    color:  #272727;
    font-size: 32px;
    padding: 30px 30px 24px 30px;
    background-color: #ffffff;
    margin: 0px;
}

.right{
    display: block;
    margin-top: 150px 0px 150px;
}

.popular_title{
    text-align: center;
    margin-top: 43px;
    font-size: 24px;
    line-height: 45px;
}

.models_title{
    text-align: center;
    font-size: 72px;
    line-height: 81px;
    font-weight: 400;
    margin-bottom: 84px;
}

.firstsecond{
    margin: 0 auto;
    width: 417px;
    margin-bottom: 85px;
}

.imagecard{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 417px;
    height: 630px;
    background-color: rgb(248, 248, 248);
    margin-bottom: 67px;
}

.title_first_second{
    font-size: 32px;
    line-height: 30px;
    margin-bottom: 17px;
    text-align: center;
    font-weight: 400;
}

.subtitle_first_second{
    width: 417px;
    font-size: 32px;
    line-height: 30px;
    font-weight: 300;
    text-align: center;
}

.third{
    margin: 0 auto;
    width: 700px;
    margin-bottom: 85px;
    margin-top: 100px;
}

.title_third{
    text-align: center;
    font-size: 32px;
    line-height: 60px;
    font-weight: 400;
}

hr{
    width: 270px; 
    height: 3px;
    margin-bottom: 58px;
    background-color: rgb(0, 0, 0);
}

.subtitle_third{
    text-align: center;
    font-weight: 300;
    font-size: 24px;
    line-height: 40px;
}

#link_more{
    color: rgb(187, 139, 93);
    text-decoration: none;
}